{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
    <section>
        <header>
            <h2>{{ post.title }}</h2>
            <h1></h1>
        </header>
    </section>
    <div class="column">
        <li>
            <span><a href="#">{{ post.category.name }}</a></span> -
            <span><a href="#"><time>{{ post.created_time }}</time></a></span> -
            <span><a href="#">{{ post.author }}</a></span> -
            <span><a href="#">评论 100</a></span> -
            <span><a href="#">阅读</a></span>
            <p>{{ post.body|safe|linebreaks }}</p>
        </li>
    </div>
{% endblock main %}

{% block toc %}
    <div id="sidebar" class="4u">
        <section>
            <header>
                <h2>Pellentesque vulputate</h2>
            </header>
            <ul class="style">
                <li>
                    <p class="posted">August 11, 2002  |  (10 )  Comments</p>
                    <img src="{% static 'blog/images/pic04.jpg' %}" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>
                <li>
                    <p class="posted">August 11, 2002  |  (10 )  Comments</p>
                    <img src="{% static 'blog/images/pic05.jpg' %}" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>
                <li>
                    <p class="posted">August 11, 2002  |  (10 )  Comments</p>
                    <img src="{% static 'blog/images/pic06.jpg' %}" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>
            </ul>
        </section>
    </div>
{% endblock toc %}