{% extends 'base.html' %}
{% load staticfiles %}

{% block nav %}
    <nav id="nav">
        <ul>
            <li><a href="{% url 'blog:index' %}">Homepage</a></li>
            <li><a href="{% url 'blog:articles' %}">Articles</a></li>
            <li><a href="#">One More Thing</a></li>
        </ul>
    </nav>
{% endblock nav %}


{% block main %}
    <section>
        <header>
            <p class="h1">{{ post.title }}</p>
            <h1></h1>
        </header>
    </section>
    <div class="column">
        <li class="blockquote-footer">
            <span><a href="#">{{ post.category.name }}</a></span> -
            <span><a href="#"><time>{{ post.created_time }}</time></a></span> -
            <span><a href="#">{{ post.author }}</a></span> -
            <span><a href="#">评论 100</a></span> -
            <span><a href="#">阅读</a></span>
        </li>
        <p class="lead">{{ post.body|safe|linebreaks }}</p>
    </div>
    <section>
        <form action="{% url 'comments:post_comment' post.pk %}" method="post">
            {% csrf_token %}
            <div id="featured">
                <p class="h2 text-center">留下你的评论</p>
                <div class="form-row">
                    <li class="form-group col-md-6">
                        <label for="{{ form.name.id_for_label }}">您的昵称：</label>
                        {{ form.name }}
                        {{ form.name.errors }}
                    </li>
                    <li class="form-group col-md-6">
                        <label for="{{ form.email.id_for_label }}">您的邮箱：</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </li>
                </div>
                <div class="form-row">
                    <li class="form-group col-md-6">
                        <label for="{{ form.url.id_for_label }}">您的URL：</label>
                        {{ form.url }}
                        {{ form.url.errors }}
                    </li>
                </div>
                <div class="form-group">
                    <label for="{{ form.text.id_for_label }}">评论：</label>
                    {{ form.text }}
                    {{ form.text.errors }}
                </div>
                <div class="text-center">
                    <button type="submit" class="comment-btn">发表</button>
                </div>
            </div>    <!-- row -->
        </form>
    </section>
    <section class="lead">
        <ul class="comment-list list-unstyled">
            {% for comment in comment_list %}
            <li class="comment-item">
                <span class="nickname">{{ comment.name }}</span>
                <time class="submit-date">{{ comment.created_time }}</time>
                <div class="text">
                    {{ comment.text }}
                </div>
            </li>
            {% empty %}
            暂无他人评论！
            {% endfor %}
        </ul>
    </section>
{% endblock main %}

