{% extends 'base.html' %}
{% load staticfiles %}

{% block nav %}
    <nav id="nav">
        <ul>
            <li><a href="{% url 'blog:index' %}">Homepage</a></li>
            <li><a href="{% url 'blog:articles' %}">Articles</a></li>
            <li><a href="#">One More Thing</a></li>
        </ul>
    </nav>
{% endblock nav %}


{% block main %}
    <section>
        <header>
            <p class="h1">{{ post.title }}</p>
            <h1></h1>
        </header>
    </section>
    <div class="column">
        <li class="blockquote-footer">
            <span><a href="#">{{ post.category.name }}</a></span> -
            <span><a href="#"><time>{{ post.created_time }}</time></a></span> -
            <span><a href="#">{{ post.author }}</a></span> -
            <span><a href="#">评论 100</a></span> -
            <span><a href="#">阅读</a></span>
        </li>
        <p class="lead">{{ post.body|safe|linebreaks }}</p>
    </div>
{% endblock main %}

